<!DOCTYPE html>
<html lang="en" ng-app="handbook">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="shortcut icon" href="/favicon.ico">
    <title>Handbook</title>

    <style>*{box-sizing:border-box;}a,button,input,select{outline: 0;}body,div,span,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,a,abbr,acronym,address,cite,em,img,strong,sub,sup,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,figure,figcaption,footer,header,menu,nav,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}ol,ul{list-style:none}blockquote{quotes:none}blockquote:before,blockquote:after{content:none}table{border-collapse:collapse;border-spacing:0}</style>

    <link href='http://fonts.googleapis.com/css?family=Lora:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="shared/css/style.css">
</head>

<body ng-controller="homeCtrl">
    <aside class="config-prompt-overlay" ng-hide="hasName == true">
        <div class="message-box">
            <p class="instructions">Please enter your name:</p>
            <input type="text" class="input-name" placeholder="Your Name" tabindex="1" ng-model="username" />
            <button class="btn-primary" tabindex="2" ng-click="hasName = true">Done</button>
        </div>
    </aside>

    <div id="app-wrapper">
        <header id="app-header">
            <span class="logo-home-link">
                <img class="logo" src="shared/assets/img/pearson_logo.png" />
            </span>
            <ul class="main-nav">
                <li class="tab" ui-sref-active="active" ng-class="{'active-you': $state.includes('you')}"><a class="tab-part-1" ui-sref="part-1" tabindex="2" data-title="Part 1: A Process for Composing">1</a></li>
                <li class="tab" ui-sref-active="active" ng-class="{'active-you': $state.includes('you')}"><a class="tab-part-2" ui-sref="part-2" tabindex="3" data-title="Part 2: Finding Ideas">2</a></li>
                <li class="tab" ui-sref-active="active" ng-class="{'active-you': $state.includes('you')}"><a class="tab-part-3" ui-sref="part-3" tabindex="4" data-title="Part 3: Evaluating and Tracking Sources Ethically">3</a></li>
                <li class="tab" ui-sref-active="active" ng-class="{'active-you': $state.includes('you')}"><a class="tab-part-4" ui-sref="part-4" tabindex="5" data-title="Part 4: Engaging with Sources and Analyzing Arguments">4</a></li>
                <li class="tab" ui-sref-active="active" ng-class="{'active-you': $state.includes('you')}"><a class="tab-part-5" ui-sref="part-5" tabindex="6" data-title="Part 5: Organizing and Shaping Texts">5</a></li>
                <li class="tab" ui-sref-active="active" ng-class="{'active-you': $state.includes('you')}"><a class="tab-part-6" ui-sref="part-6" tabindex="7" data-title="Part 6: Drafting a Paper, Connecting with Audiences">6</a></li>
                <li class="tab" ui-sref-active="active" ng-class="{'active-you': $state.includes('you')}"><a class="tab-part-7" ui-sref="part-7" tabindex="8" data-title="Part 7: Revising With Style">7</a></li>
                <li class="tab" ui-sref-active="active" ng-class="{'active-you': $state.includes('you')}"><a class="tab-part-8" ui-sref="part-8" tabindex="9" data-title="Part 8: Academic English">8</a></li>
                <li class="tab" ui-sref-active="active" ng-class="{'active-you': $state.includes('you')}"><a class="tab-part-9" ui-sref="part-9" tabindex="10" data-title="Part 9: Documentation">9</a></li>
                <li class="tab" ui-sref-active="active" ng-class="{'active-you': $state.includes('you')}"><a class="tab-part-10" ui-sref="part-10" tabindex="11" data-title="Part 10: Editing and Proofreading your Work">10</a></li>
                <li class="tab" ui-sref-active="active" ng-class="{'active-you': $state.includes('you')}"><a class="tab-part-11" ui-sref="part-11" tabindex="12" data-title="Part 11: Grammar, Punctuation, and Mechanics">11</a></li>
                <li class="tab" ui-sref-active="active"><a class="tab-c" ui-sref="writers-concerns" tabindex="13" data-title="A Writer's Concerns">C</a></li>
                <li class="tab" ui-sref-active="active"><a class="tab-p" ui-sref="writers-process" tabindex="14" data-title="One Writer's Process">P</a></li>
                <li class="tab" ui-sref-active="active"><a class="tab-text tab-search" ui-sref="search" tabindex="15" data-title="Find a topic or theme">Search</a></li>
                <li class="tab" ui-sref-active="active"><a class="tab-text tab-glossary" ui-sref="glossary" tabindex="16" data-title="Browse vocabulary">Glossary</a></li>
                <li class="tab tab-you-wrapper" ui-sref-active="active"><a class="tab-text top-you tab-you" ui-sref="you" tabindex="17" data-title="View your progress">{{username || 'You'}}</a></li>
            </ul>
            <div class="main-nav-hover">
                <div class="full-description"></div>
            </div>
        </header>

        <div class="part-view" ui-view></div>
    </div>

    <script src="shared/js/angular.min.js"></script>
    <script src="shared/js/angular-ui-router.min.js"></script>
    <script src="shared/js/angular-animate.min.js"></script>
    <script src="shared/js/jquery-2.1.1.min.js"></script>
    <script src="shared/js/fastclick.js"></script>
    <script src="shared/js/svg4everybody.min.js"></script>
    <script src="shared/js/app.js"></script>
    <script src="home/homeCtrl.js"></script>
    <script>
        if ('addEventListener' in document) {
            document.addEventListener('DOMContentLoaded', function() {
                FastClick.attach(document.body);
            }, false);
        }
    </script>
</body>
</html>
