button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: transparent;
	border: none;
	cursor: pointer;
	font-family: 'Source Sans Pro', sans-serif;
	padding: 0;
}