$part-1-darker: #75993d;
$part-1-dark: #abc06b;
$part-1-light: #c6d87d;
$part-1-lighter: #e7eb98;

$part-2-darker: #6e78a6;
$part-2-dark: #848ebe;
$part-2-light: #949dc9;
$part-2-lighter: #b9c1e2;

$part-3-darker: #917fa5;
$part-3-dark: #ad97bd;
$part-3-light: #bea7ca;
$part-3-lighter: #e5cee4;

$part-4-darker: #a2a55e;
$part-4-dark: #c3c473;
$part-4-light: #d7d67e;
$part-4-lighter: #f1ef92;

$part-5-darker: #99226e;
$part-5-dark: #b2337b;
$part-5-light: #cd448a;
$part-5-lighter: #ef5ba1;

$part-6-darker: #a5732a;
$part-6-dark: #c5872e;
$part-6-light: #d99633;
$part-6-lighter: #f2a839;

$part-7-darker: #499987;
$part-7-dark: #65b2a2;
$part-7-light: #82ccbe;
$part-7-lighter: #adddd9;

$part-8-darker: #397999;
$part-8-dark: #4798bf;
$part-8-light: #55afd8;
$part-8-lighter: #64c2ee;

$part-9-darker: #74629a;
$part-9-dark: #9882bc;
$part-9-light: #b59cca;
$part-9-lighter: #d0b9da;

$part-10-darker: #993733;
$part-10-dark: #c0453f;
$part-10-light: #d95a54;
$part-10-lighter: #f3726c;

$academic-english-darker: #d6df23;
$academic-english-dark: #d6df23;
$academic-english-light: #d6df23;
$academic-english-lighter: #d6df23;

$search-darker: #f89a1c;
$search-dark: #f89a1c;
$search-light: #f89a1c;
$search-lighter: #f89a1c;

$glossary-darker: #ed1c24;
$glossary-dark: #ed1c24;
$glossary-light: #ed1c24;
$glossary-lighter: #ed1c24;

$you-darker: #2e3092;
$you-dark: #2e3092;
$you-light: #2e3092;
$you-lighter: #2e3092;