$clickable-dark: #00b8f0;
$clickable-light: #6ccff6;
$clickable-lighter: #ddf2fd;

$writers-concerns-darker: #555;
$writers-concerns-dark: #888;
$writers-concerns-light: #bbb;
$writers-concerns-lighter: #eee;

$writers-process-darker: #555;
$writers-process-dark: #888;
$writers-process-light: #bbb;
$writers-process-lighter: #eee;

$part-1-darker: #769b3e;
$part-1-dark: #abc16c;
$part-1-light: #c7da7e;
$part-1-lighter: #e7ec99;

$part-2-darker: #6e78a7;
$part-2-dark: #99a1d1;
$part-2-light: #afb7dd;
$part-2-lighter: #c8cee9;

$part-3-darker: #9280a7;
$part-3-dark: #ac97bf;
$part-3-light: #bda7cc;
$part-3-lighter: #e6cfe4;

$part-4-darker: #717245;
$part-4-dark: #c3c472;
$part-4-light: #d8d87f;
$part-4-lighter: #f0ef92;

$part-5-darker: #9a226f;
$part-5-dark: #e766a6;
$part-5-light: #ee8ebb;
$part-5-lighter: #f5b3d1;

$part-6-darker: #a5732a;
$part-6-dark: #d99632;
$part-6-light: #ebaa4b;
$part-6-lighter: #fdc168;

$part-7-darker: #499a89;
$part-7-dark: #65b2a2;
$part-7-light: #81cdbf;
$part-7-lighter: #acded9;

$part-8-darker: #781b7b;
$part-8-dark: #cb7db5;
$part-8-light: #df97c2;
$part-8-lighter: #f7b4d1;

$part-9-darker: #377b9b;
$part-9-dark: #54afda;
$part-9-light: #77c3e8;
$part-9-lighter: #9adcf8;

$part-10-darker: #75639b;
$part-10-dark: #b59dca;
$part-10-light: #d2bfdd;
$part-10-lighter: #f6e6f0;

$part-11-darker: #993733;
$part-11-dark: #f2716c;
$part-11-light: #f69790;
$part-11-lighter: #f9bcbb;

$search-darker: #da8227;
$search-dark: #da8227;
$search-light: #da8227;
$search-lighter: #da8227;

$glossary-darker: #ed1c24;
$glossary-dark: #ed1c24;
$glossary-light: #ed1c24;
$glossary-lighter: #ed1c24;

$you-darker: #2e3092;
$you-dark: #2e3092;
$you-light: #2e3092;
$you-lighter: #2e3092;