.interactive-paper {

	section {
		margin-top: 8px
	}

	h1,
	h2 {
		font-weight: 700;
		text-transform: uppercase;
	}

	h1 {
		font-size: 21px
	}

	h2 {
		font-size: 15px
	}

	.list {
		margin-top: 0;
	}

	li {
		margin-bottom: 0;
	}

	.left {
		position: absolute;
		top: 100px;
		width: 158px;
	}

	.radio-label {
		display: block;
		margin: 20px 0;
	}

	.right {
		background-color: #f0f0f0;
		bottom: 0;
		padding: 40px 50px 40px 40px ;
		position: absolute;
		right: 0;
		top: 100px;
		width: 530px;
	}

	.highlight-area {
		left: 0;
		position: absolute;
		width: 100%;
		z-index: 1;
	}

	.highlight {
		background-color: rgba($clickable-dark, .25);
		opacity: 0;
		transition: all 300ms ease-out;
		position: absolute;

		&.showing {
			opacity: 1;
			transition: all 300ms ease-out;
		}
	}

	.body-copy-written {
		margin-bottom: 0;
		position: relative;
		z-index: 1;
	}

	.popup {
		opacity: 0;
		transform: scale(.95, .95);
		transition: all 300ms ease-out;
		position: absolute;

		&.showing {
			opacity: 1;
			transform: scale(1, 1);
			transition: all 300ms ease-out;
		}
	}
}