@import 'colors';

#app-header {
	height: 38px;
	position: relative;
	z-index: 2;
}

.logo-home-link {
	display: block;
	padding-top: 6px;
	width: 214px;

	.logo {
		height: 30px;
		width: 100px;
	}
}

.main-nav {
	font-family: 'Lora', serif;
	left: 242px;
	padding-top: 10px;
	position: absolute;
	right: 0;
	text-transform: uppercase;
	top: 0;

 	.tab {
 		float: left;
		margin: 0 4px;

		&.active,
		&.active-you {
			a {
				-moz-border-radius: 6px 6px 6px 6px;
				border-radius: 6px 6px 6px 6px;
				height: 38px;
				margin-bottom: -10px;
				transition: all 250ms ease-out;

				&.tab-text {
					-moz-border-radius: 12px 12px 12px 12px;
					border-radius: 12px 12px 12px 12px;
					transition: all 250ms ease-out;
				}
			}
		}

		a {
			background-color: #fff;
			-moz-border-radius: 6px 6px 0 0;
			border-radius: 6px 6px 0 0;
			-webkit-box-shadow: 2px 0 5px 0 rgba(0, 0, 0, .4);
			-moz-box-shadow: 2px 0 5px 0 rgba(0, 0, 0, .4);
			box-shadow: 2px 0 5px 0 rgba(0, 0, 0, .4);
			color: #fff;
			display: block;
			height: 28px;
			font-size: 20px;
			font-weight: 700;
			line-height: 24px;
			overflow: hidden;
			text-align: center;
			width: 28px;
			transition: all 250ms ease-out;

			&.tab-text {
				-moz-border-radius: 12px 12px 0 0;
				border-radius: 12px 12px 0 0;
				font-size: 11px;
				padding: 10px 4px 0 4px;
				width: auto;
				transition: all 250ms ease-out;
			}

			&.top-ae {
				padding-top: 3px;
			}

			&.top-you {
				padding-top: 8px;
			}

			&.tab-c,
			&.tab-p { color: #000; }
			&.tab-part-1 { background-color: $part-1-darker; }
			&.tab-part-2 { background-color: $part-2-darker; }
			&.tab-part-3 { background-color: $part-3-darker; }
			&.tab-part-4 { background-color: $part-4-darker; }
			&.tab-part-5 { background-color: $part-5-darker; }
			&.tab-part-6 { background-color: $part-6-darker; }
			&.tab-part-7 { background-color: $part-7-darker; }
			&.tab-part-8 { background-color: $part-8-darker; }
			&.tab-part-9 { background-color: $part-9-darker; }
			&.tab-part-10 { background-color: $part-10-darker; }
			&.tab-part-11 { background-color: $part-11-darker; }
			&.tab-search { background-color: $search-darker; }
			&.tab-glossary { background-color: $glossary-darker; }
			&.tab-you {
				background-color: $you-darker;
				font-size: 18px;
			}
		}

		&.tab-you-wrapper {
			float: right;	
			margin-right: 33px;
		}
	}
}