@import 'colors';

#app-header {
	border-bottom: 4px solid #d0d0d0;
	height: 40px;
	position: relative;
}

.logo-home-link {
	display: block;
	padding-top: 4px;
	width: 214px;

	.logo {
		height: 30px;
		width: 100px;
	}
}

.main-nav {
	font-family: 'Lora', serif;
	font-size: 0;
	left: 216px;
	overflow: hidden;
	padding-top: 8px;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;

 	.tab {
		display: inline-block;
		margin: 0 4px;

		a {
			background-color: #fff;
			-moz-border-radius: 4px 4px 0 0;
			border-radius: 4px 4px 0 0;
			-webkit-box-shadow: 2px 0 4px 0 rgba(0, 0, 0, .25);
			-moz-box-shadow: 2px 0 4px 0 rgba(0, 0, 0, .25);
			box-shadow: 2px 0 4px 0 rgba(0, 0, 0, .25);
			color: #fff;
			display: block;
			height: 28px;
			font-size: 16px;
			overflow: hidden;
			padding-top: 8px;
			text-align: center;
			width: 28px;

			&.tab-c,
			&.tab-p { color: #000; }
			&.tab-part-1 { background-color: $part-1-darker; }
			&.tab-part-2 { background-color: $part-2-darker; }
			&.tab-part-3 { background-color: $part-3-darker; }
			&.tab-part-4 { background-color: $part-4-darker; }
			&.tab-part-5 { background-color: $part-5-darker; }
			&.tab-part-6 { background-color: $part-6-darker; }
			&.tab-part-7 { background-color: $part-7-darker; }
			&.tab-part-8 { background-color: $part-8-darker; }
			&.tab-part-9 { background-color: $part-9-darker; }
			&.tab-part-10 { background-color: $part-10-darker; }
			&.tab-academic-english { background-color: $academic-english-darker; }
			&.tab-search { background-color: $search-darker; }
			&.tab-glossary { background-color: $glossary-darker; }
			&.tab-you { background-color: $you-darker; }
		}
	}
}