body {	
	font-family: 'Source Sans Pro', sans-serif;
}

a {
	text-decoration: none;
}

.part-heading {
	font-size: 48px;
	line-height: 52px;
	padding: 40px 20px 0 20px;
	text-transform: uppercase;

	&.dark-text {
		color: #000;
	}

	&.light-text {
		color: #fff;
	}

	.font-light {
		font-size: 46px;
		font-weight: 300;
	}

	.font-heavy {
		font-weight: 600;
	}
}

.body-heading {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
	font-weight: 700;
	margin-bottom: 4px;
	text-transform: uppercase;
}

.body-copy {
	font-family: 'Lora', serif;
	font-size: 13px;
	line-height: 19.5px;
	margin-bottom: 16px;

	p {
		text-indent: 20px;

		&:nth-of-type(1) {
			text-indent: 0;
		}
	}
}

.note-heading {
	color: $clickable-dark;
	font-weight: 700;
	text-transform: uppercase;
}

.note-copy {
	font-family: 'Lora', serif;
	font-size: 12px;
	line-height: 15px;

	p {
		text-indent: 20px;

		&:nth-of-type(1) {
			text-indent: 0;
		}
	}
}

.body-copy-written {
	font-family: 'Shadows Into Light', serif;
	font-size: 18px;
	line-height: 23px;
	margin-bottom: 16px;

	p {
		text-indent: 20px;

		&:nth-of-type(1) {
			text-indent: 0;
		}
	}
}

.instructions {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
	font-weight: 600;
	margin-bottom: 16px;
}

strong {
	font-weight: 600;
}

em {
	font-style: italic;
}

.uppercase {
	text-transform: uppercase;
}

.list {
	font-size: 14px;
	margin-top: 8px;
	padding-left: 30px;

	li {
		list-style-type: disc;
		margin-bottom: 8px;
	}
}