body {	
	font-family: 'Source Sans Pro', sans-serif;
}

.body-copy {
	font-family: 'Lora', serif;
	font-size: 13px;
	line-height: 19.5px;

	p {
		text-indent: 20px;

		&:nth-child(1) {
			text-indent: 0;
		}
	}
}

strong {
	font-weight: 600;
}

.all-caps {
	text-transform: uppercase;
}