@import 'colors';

.what-will-you-learn {
	padding: 32px 160px 32px 32px ;

	.body-copy {
		margin-bottom: 24px;
	}

	.button {
		padding: 0 10px 0 2px;

		&.open .icon-triangle {
			transform: rotate(90deg);
			transition: all 300ms;
		}
	}

	.icon-triangle {
		background-image: url(../assets/img/triangle-shadow.png);
		background-size: 100%;
		fill: $part-1-dark;
		height: 50px;
		padding: 9px;
		position: relative;
		top: 2px;
		transform: rotate(0deg);
		transition: all 300ms;
		width: 34px;
	}

	.text {
		font-size: 16px;
		font-weight: 600;
		position: relative;
		top: -16px;
	}

	.description {
		display: none;
		overflow: hidden;
		padding-left: 36px;

		p {
			font-size: 14px;
			margin-bottom: 8px;
		}
	}
}