#app-header {
  height: 36px;
  position: relative;
  z-index: 2; }

.logo-home-link {
  display: block;
  padding-top: 4px;
  width: 214px; }
  .logo-home-link .logo {
    height: 30px;
    width: 100px; }

.main-nav {
  font-family: 'Lora', serif;
  font-size: 0;
  left: 216px;
  padding-top: 8px;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  top: 0; }
  .main-nav .tab {
    display: inline-block;
    margin: 0 4px; }
    .main-nav .tab.active a {
      -moz-border-radius: 4px 4px 4px 4px;
      border-radius: 4px 4px 4px 4px;
      height: 38px;
      margin-bottom: -10px; }
    .main-nav .tab.inactive {
      opacity: .20; }
    .main-nav .tab a {
      background-color: #fff;
      -moz-border-radius: 4px 4px 0 0;
      border-radius: 4px 4px 0 0;
      -webkit-box-shadow: 2px 0 4px 0 rgba(0, 0, 0, 0.25);
      -moz-box-shadow: 2px 0 4px 0 rgba(0, 0, 0, 0.25);
      box-shadow: 2px 0 4px 0 rgba(0, 0, 0, 0.25);
      color: #fff;
      display: block;
      height: 28px;
      font-size: 16px;
      overflow: hidden;
      padding-top: 8px;
      text-align: center;
      width: 28px; }
      .main-nav .tab a.tab-text {
        font-size: 12px;
        padding: 8px 4px 0 4px;
        width: auto; }
      .main-nav .tab a.top-ae {
        padding-top: 2px; }
      .main-nav .tab a.top-you {
        padding-top: 6px; }
      .main-nav .tab a.tab-c, .main-nav .tab a.tab-p {
        color: #000; }
      .main-nav .tab a.tab-part-1 {
        background-color: #75993d; }
      .main-nav .tab a.tab-part-2 {
        background-color: #6e78a6; }
      .main-nav .tab a.tab-part-3 {
        background-color: #917fa5; }
      .main-nav .tab a.tab-part-4 {
        background-color: #a2a55e; }
      .main-nav .tab a.tab-part-5 {
        background-color: #99226e; }
      .main-nav .tab a.tab-part-6 {
        background-color: #a5732a; }
      .main-nav .tab a.tab-part-7 {
        background-color: #499987; }
      .main-nav .tab a.tab-part-8 {
        background-color: #397999; }
      .main-nav .tab a.tab-part-9 {
        background-color: #74629a; }
      .main-nav .tab a.tab-part-10 {
        background-color: #993733; }
      .main-nav .tab a.tab-academic-english {
        background-color: #d6df23; }
      .main-nav .tab a.tab-search {
        background-color: #f89a1c; }
      .main-nav .tab a.tab-glossary {
        background-color: #ed1c24; }
      .main-nav .tab a.tab-you {
        background-color: #2e3092;
        font-size: 18px; }
    .main-nav .tab.tab-you-wrapper {
      float: right;
      margin-right: 8px; }

.nav-left {
  background-color: #fff;
  border-top: 4px solid #d0d0d0;
  bottom: 0;
  box-shadow: inset -16px 0 16px -16px rgba(0, 0, 0, 0.25);
  font-size: 12px;
  left: 0;
  position: absolute;
  top: 0;
  width: 216px; }

.nav-heading {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 125%;
  padding: 6px 12px 7px 10px; }

.nav li a {
  background-color: #fff;
  box-shadow: inset -16px 0 16px -16px rgba(0, 0, 0, 0.25);
  color: #444;
  cursor: pointer;
  display: block;
  line-height: 15px;
  font-weight: 700;
  padding: 6px 10px; }

.sub-nav {
  display: none; }
  .sub-nav li a {
    font-weight: 300;
    padding: 5px 14px 5px 24px; }

* {
  box-sizing: border-box; }

html,
body {
  background-color: #cbdde7;
  font-family: 'Lato', sans-serif; }

h1 {
  font-size: 20px; }

h2 {
  font-size: 18px; }

a {
  color: blue;
  text-decoration: none; }

img {
  display: block; }

#app-wrapper {
  height: 644px;
  left: 0;
  margin: auto;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: 980px; }

/*
 * A 'part-view' is everything under the top nav tabs.
 * The left nav and main content make up a 'part-view'
 */
.part-view {
  bottom: 0;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 36px;
  z-index: 1; }
  .part-view.ng-enter, .part-view.ng-leave {
    transition: all 250ms ease-in-out; }
  .part-view.ng-enter {
    opacity: 0; }
  .part-view.ng-enter-active {
    opacity: 1; }
  .part-view.ng-leave {
    opacity: 1;
    z-index: 0; }
  .part-view.ng-leave-active {
    opacity: 1;
    z-index: 0; }

.part-heading {
  font-size: 48px;
  padding: 30px 20px;
  text-transform: uppercase; }
  .part-heading .font-light {
    font-weight: 300; }
  .part-heading .font-heavy {
    font-weight: 600; }

/*
 * A 'page-view' is the main content area.
 */
.page-view {
  background-color: #fff;
  border-top: 4px solid #d0d0d0;
  bottom: 0;
  position: absolute;
  left: 216px;
  right: 0;
  top: 0;
  z-index: 1; }
  .page-view.ng-enter, .page-view.ng-leave {
    transition: all .5s ease-in-out; }
  .page-view.ng-enter {
    transform: translate3d(100%, 0, 0); }
  .page-view.ng-enter-active {
    transform: translate3d(0, 0, 0); }
  .page-view.ng-leave {
    z-index: 0; }
  .page-view.ng-leave-active {
    z-index: 0; }
  .page-view .page-view-inner {
    height: 100%;
    width: 100%; }
  .page-view .intro {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }

/*# sourceMappingURL=style.css.map */
