@import 'colors';
@import 'nav-main';
@import 'nav-left';

* {
	box-sizing: border-box;
}

html,
body {
	background-color: #cbdde7;
	font-family: 'Source Sans Pro', sans-serif;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

h1 {
	font-size: 20px;
}

h2 {
	font-size: 18px;
}

a {
	color: blue;
	text-decoration: none;
}
	
img {
	display: block;
}

#app-wrapper {
	height: 672px;
	left: 0;
	margin: auto;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	width: 1024px;
}

/*
 * A 'part-view' is everything under the top nav tabs.
 * The left nav and main content make up a 'part-view'
 */
.part-view {
	bottom: 0;
	overflow: hidden;
	position: absolute;
	left: 0;
	right: 0;
	top: 38px;
	-webkit-transition: all 550ms;
	transition: all 550ms;
	z-index: 1;

	&.ng-enter {
		.nav-left {
			opacity: 0;
		}

		.page-view {
			-webkit-transform: translate3d(100%, 0, 0);
			transform: translate3d(100%, 0, 0);
		}
	}

	&.ng-enter-active {
		.nav-left {
			opacity: 1
		}

		.page-view {
			-webkit-transform: translate3d(0, 0, 0);
			transform: translate3d(0, 0, 0);
		}
	}

	&.ng-leave {
		z-index: 0;		
		.nav-left {opacity: 1;}
		.page-view {z-index: 0;}
	}

	&.ng-leave-active {
		z-index: 0;		
		.nav-left {opacity: 1;}
		.page-view {z-index: 0;}
	}
}

/*
 * A 'page-view' is the main content area.
 */
.page-view {
	background-color: #fff;
	border-top: 4px solid #d0d0d0;
	bottom: 0;
	position: absolute;
	left: 242px;
	right: 0;
	top: 0;
	-webkit-transition: all 500ms;
	transition: all 500ms;
	z-index: 1;

	&.ng-enter {
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
	}

	&.ng-enter-active {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

	&.ng-leave {
		z-index: 0;
	}

	&.ng-leave-active {
		z-index: 0;
	}

	.page-view-inner {
		height: 100%;
		width: 100%;
	}

	.intro {
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
}

.part-heading {
	font-size: 48px;
	padding: 26px 20px;
	text-transform: uppercase;

	&.dark-text {
		color: #000;
	}

	&.light-text {
		color: #fff;
	}

	.font-light {
		font-size: 46px;
		font-weight: 300;
	}

	.font-heavy {
		font-weight: 600;
	}
}