body {
  font-family: 'Source Sans Pro', sans-serif; }

.body-heading {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 4px;
  text-transform: uppercase; }

.body-copy {
  font-family: 'Lora', serif;
  font-size: 13px;
  line-height: 19.5px; }
  .body-copy p {
    text-indent: 20px; }
    .body-copy p:nth-child(1) {
      text-indent: 0; }

.instructions {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  font-weight: 600;
  padding: 16px 0; }

strong {
  font-weight: 600; }

.all-caps {
  text-transform: uppercase; }

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: 'Source Sans Pro', sans-serif; }

#app-header {
  height: 38px;
  position: relative;
  z-index: 2; }

.logo-home-link {
  display: block;
  padding-top: 6px;
  width: 214px; }
  .logo-home-link .logo {
    height: 30px;
    width: 100px; }

.main-nav {
  font-family: 'Lora', serif;
  left: 242px;
  padding-top: 10px;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  top: 0; }
  .main-nav .tab {
    float: left;
    margin: 0 4px; }
    .main-nav .tab.active a, .main-nav .tab.active-you a {
      -moz-border-radius: 6px 6px 6px 6px;
      border-radius: 6px 6px 6px 6px;
      height: 38px;
      margin-bottom: -10px;
      transition: all 250ms ease-out; }
      .main-nav .tab.active a.tab-text, .main-nav .tab.active-you a.tab-text {
        -moz-border-radius: 12px 12px 12px 12px;
        border-radius: 12px 12px 12px 12px;
        transition: all 250ms ease-out; }
    .main-nav .tab a {
      background-color: #fff;
      -moz-border-radius: 6px 6px 0 0;
      border-radius: 6px 6px 0 0;
      -webkit-box-shadow: 2px 0 5px 0 rgba(0, 0, 0, 0.4);
      -moz-box-shadow: 2px 0 5px 0 rgba(0, 0, 0, 0.4);
      box-shadow: 2px 0 5px 0 rgba(0, 0, 0, 0.4);
      color: #fff;
      display: block;
      height: 28px;
      font-size: 20px;
      font-weight: 700;
      line-height: 24px;
      overflow: hidden;
      text-align: center;
      width: 28px;
      transition: all 250ms ease-out; }
      .main-nav .tab a.tab-text {
        -moz-border-radius: 12px 12px 0 0;
        border-radius: 12px 12px 0 0;
        font-size: 13px;
        padding: 2px 6px 0 6px;
        width: auto;
        transition: all 250ms ease-out; }
      .main-nav .tab a.tab-c, .main-nav .tab a.tab-p {
        color: #000; }
      .main-nav .tab a.tab-part-1 {
        background-color: #75993d; }
      .main-nav .tab a.tab-part-2 {
        background-color: #6e78a6; }
      .main-nav .tab a.tab-part-3 {
        background-color: #917fa5; }
      .main-nav .tab a.tab-part-4 {
        background-color: #a2a55e; }
      .main-nav .tab a.tab-part-5 {
        background-color: #99226e; }
      .main-nav .tab a.tab-part-6 {
        background-color: #a5732a; }
      .main-nav .tab a.tab-part-7 {
        background-color: #499987; }
      .main-nav .tab a.tab-part-8 {
        background-color: #771b7b; }
      .main-nav .tab a.tab-part-9 {
        background-color: #397999; }
      .main-nav .tab a.tab-part-10 {
        background-color: #74629a; }
      .main-nav .tab a.tab-part-11 {
        background-color: #993733; }
      .main-nav .tab a.tab-search {
        background-color: #da8227;
        font-family: 'Open Sana', sans-serif; }
      .main-nav .tab a.tab-glossary {
        background-color: #ed1c24;
        font-family: 'Open Sana', sans-serif; }
      .main-nav .tab a.tab-you {
        background-color: #2e3092;
        font-size: 21px; }
    .main-nav .tab.tab-you-wrapper {
      float: right;
      margin-right: 33px; }

.nav-left {
  background-color: #fff;
  border-top: 4px solid #d0d0d0;
  bottom: 0;
  box-shadow: inset -16px 0 16px -16px rgba(0, 0, 0, 0.25);
  font-size: 12px;
  left: 0;
  position: absolute;
  top: 0;
  -webkit-transition: all 500ms;
  transition: all 500ms;
  width: 242px; }

.nav-heading {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 125%;
  padding: 6px 10px 7px 10px; }
  .nav-heading.big-text {
    font-size: 22px;
    font-weight: 400;
    line-height: 90%;
    padding-top: 12px;
    text-transform: uppercase; }

.sub-heading {
  background-color: #d8d8d8;
  padding: 6px 10px 7px 10px; }

.nav {
  background-color: #fff;
  box-shadow: inset -16px 0 16px -16px rgba(0, 0, 0, 0.25);
  min-height: 100%; }
  .nav li a {
    color: #444;
    cursor: pointer;
    display: block;
    line-height: 15px;
    font-weight: 700;
    padding: 5px 16px 5px 10px; }

.sub-nav {
  display: none; }
  .sub-nav li a {
    font-weight: 400;
    padding: 4px 16px 4px 24px; }

.what-will-you-learn {
  padding: 32px 160px 32px 32px; }
  .what-will-you-learn .body-copy {
    margin-bottom: 24px; }
  .what-will-you-learn .button {
    padding: 0 10px 0 2px; }
  .what-will-you-learn .icon-triangle {
    background-image: url(../assets/img/triangle-shadow.png);
    background-size: 100%;
    fill: #abc06b;
    height: 50px;
    padding: 9px;
    position: relative;
    top: 2px;
    width: 34px; }
  .what-will-you-learn .text {
    font-size: 16px;
    font-weight: 600;
    position: relative;
    top: -16px; }
  .what-will-you-learn .description {
    padding-left: 36px; }
    .what-will-you-learn .description p {
      font-size: 14px;
      margin-bottom: 8px; }

.popup {
  background-color: #fff;
  border: 1px solid #000;
  box-shadow: 6px 6px 10px 0 rgba(0, 0, 0, 0.5);
  font-size: 14px;
  padding: 16px 24px 44px 24px;
  position: relative;
  width: 400px;
  z-index: 1; }
  .popup .button-close-popup {
    background-color: #000;
    border-radius: 100%;
    display: block;
    height: 20px;
    margin-bottom: 16px;
    padding: 4px;
    width: 20px; }
  .popup .icon-x {
    fill: #fff;
    height: 12px;
    width: 12px; }

* {
  box-sizing: border-box; }

body {
  background-color: #cbdde7;
  -webkit-tap-highlight-color: transparent; }

h1 {
  font-size: 20px; }

h2 {
  font-size: 18px; }

a {
  color: blue;
  text-decoration: none; }

img {
  display: block; }

#app-wrapper {
  height: 672px;
  left: 0;
  margin: auto;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: 1024px; }

/*
 * A 'part-view' is everything under the top nav tabs.
 * The left nav and main content make up a 'part-view'
 */
.part-view {
  bottom: 0;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 38px;
  -webkit-transition: all 550ms;
  transition: all 550ms;
  z-index: 1; }
  .part-view.ng-enter .nav-left {
    opacity: 0; }
  .part-view.ng-enter .page-view {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }
  .part-view.ng-enter-active .nav-left {
    opacity: 1; }
  .part-view.ng-enter-active .page-view {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  .part-view.ng-leave {
    z-index: 0; }
    .part-view.ng-leave .nav-left {
      opacity: 1; }
    .part-view.ng-leave .page-view {
      z-index: 0; }
  .part-view.ng-leave-active {
    z-index: 0; }
    .part-view.ng-leave-active .nav-left {
      opacity: 1; }
    .part-view.ng-leave-active .page-view {
      z-index: 0; }

/*
 * A 'page-view' is the main content area.
 */
.page-view {
  background-color: #fff;
  border-top: 4px solid #d0d0d0;
  bottom: 0;
  position: absolute;
  left: 242px;
  right: 0;
  top: 0;
  -webkit-transition: all 500ms;
  transition: all 500ms;
  z-index: 1; }
  .page-view.ng-enter {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }
  .page-view.ng-enter-active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  .page-view.ng-leave {
    z-index: 0; }
  .page-view.ng-leave-active {
    z-index: 0; }
  .page-view .page-view-inner {
    height: 100%;
    width: 100%; }
  .page-view .intro {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }

.part-heading {
  font-size: 48px;
  line-height: 52px;
  padding: 22px 20px;
  text-transform: uppercase; }
  .part-heading.dark-text {
    color: #000; }
  .part-heading.light-text {
    color: #fff; }
  .part-heading .font-light {
    font-size: 46px;
    font-weight: 300; }
  .part-heading .font-heavy {
    font-weight: 600; }

/*# sourceMappingURL=style.css.map */
