//global structure
@import 'colors';
@import 'typography';
@import 'buttons';
@import 'inputs';
@import 'nav-main';
@import 'nav-left';
@import 'nav-learn-try';
//global components
@import 'what-will-you-learn';
@import 'accordion-list';
@import 'interactive-paper';
@import '../directives/popup/popup.scss';

body {
	background-color: #cbdde7;
	//-webkit-tap-highlight-color: rgba(203, 221, 231, 1);
}

img {
	display: block;
}

.config-prompt-overlay {
	background-color: rgba(203, 221, 231, .875);
	bottom: 0;
	left: 0;
	min-height: 672px;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;

	.message-box {
		background-color: rgba(255, 255, 255, .9);
		background-image: url('../../home/assets/img/colorful-swirls-crop-blur.jpg');
		background-size: cover;
		box-shadow: 4px 4px 32px 0 rgba(0, 0, 0, .25), 1px 1px 8px 0 rgba(0, 0, 0, .333);
		height: 210px;
		left: 0;
		margin: auto;
		padding: 24px;
		position: absolute;
		right: 0;
		top: 180px;
		width: 400px;
	}

	.input-name {
		border: 1px solid $clickable-dark;
		border-radius: 8px;
		box-shadow: inset 1px 1px 6px -2px rgba(0, 184, 240, 0.5),
						-1px -1px 4px 0 rgba(0, 0, 0, 0.125),
						2px 2px 4px 0 rgba(255, 255, 255, .5);
		height: 48px;
		font-size: 18px;
		padding: 0 12px;
		width: 100%;

	}

	.btn-primary {
		bottom: 24px;
		position: absolute;
		right: 24px;
	}
}

#app-wrapper {
	height: 672px;
	left: 0;
	margin: auto;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	width: 1024px;
	z-index: 0;
}

/*
 * A 'part-view' is everything under the top nav tabs.
 * The left nav and main content make up a 'part-view'
 */
.part-view {
	bottom: 0;
	overflow: hidden;
	position: absolute;
	left: 0;
	right: 0;
	top: 38px;
	transition: all 550ms;
	z-index: 1;

	&.ng-enter {
		.nav-left {
			opacity: 0;
		}

		.page-view {
			transform: translate3d(100%, 0, 0);
		}
	}

	&.ng-enter-active {
		.nav-left {
			opacity: 1
		}

		.page-view {
			transform: translate3d(0, 0, 0);
		}
	}

	&.ng-leave {
		z-index: 0;
		.nav-left {opacity: 1;}
		.page-view {z-index: 0;}
	}

	&.ng-leave-active {
		z-index: 0;
		.nav-left {opacity: 1;}
		.page-view {z-index: 0;}
	}
}

/*
 * A 'page-view' is the main content area.
 */
.page-view {
	background-color: #fff;
	border-top: 4px solid #d0d0d0;
	bottom: 0;
	position: absolute;
	left: 242px;
	right: 0;
	top: 0;
	transition: all 500ms;
	z-index: 1;

	&.ng-enter {
		transform: translate3d(100%, 0, 0);
	}

	&.ng-enter-active {
		transform: translate3d(0, 0, 0);
	}

	&.ng-leave {
		z-index: 0;
	}

	&.ng-leave-active {
		z-index: 0;
	}

	.page-view-inner {
		height: 100%;
		width: 100%;
	}

	.intro {
		background-image: url('../../shared/assets/img/intro-sprite.jpg');
		background-position: center 0;
		background-repeat: no-repeat;
		background-size: 782px auto;
	}
}

/*
 * A 'learn-try-view' is the main content area with vertical tabs on the left.
 */
.learn-try-view {
	background-color: #fff;
	bottom: 0;
	left: 32px;
	position: absolute;
	right: 0;
	top: 0;
	transition: all 200ms;
	z-index: 1;

	&.ng-enter {
		opacity: 0;
	}

	&.ng-enter-active {
		opacity: 1;
	}

	&.ng-leave {
		opacity: 1;
		z-index: 0;
	}

	&.ng-leave-active {
		opacity: 1;
		z-index: 0;
	}
}
