@import 'colors';
@import 'nav-main';
@import 'nav-left';

* {
	box-sizing: border-box;
}

html,
body {
	background-color: #cbdde7;
	font-family: 'Lato', sans-serif;
}

h1 {
	font-size: 20px;
}

h2 {
	font-size: 18px;
}

a {
	color: blue;
	text-decoration: none;
}
	
img {
	display: block;
}

#app-wrapper {
	height: 644px;
	left: 0;
	margin: auto;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	width: 980px;
}

/*
 * A 'part-view' is everything under the top nav tabs.
 * The left nav and main content make up a 'part-view'
 */
.part-view {
	bottom: 0;
	overflow: hidden;
	position: absolute;
	left: 0;
	right: 0;
	top: 40px;
	z-index: 1;

	&.ng-enter,
	&.ng-leave {
		transition: all 250ms ease-in-out;
	}

	&.ng-enter {
		opacity: 0;
	}

	&.ng-enter-active {
		opacity: 1;
	}

	&.ng-leave {
		opacity: 1;
		z-index: 0;
	}

	&.ng-leave-active {
		opacity: 1;
		z-index: 0;
	}
}

.part-heading {
	font-size: 48px;
	padding: 30px 20px;
	text-transform: uppercase;

	.font-light {
		font-weight: 300;
	}

	.font-heavy {
		font-weight: 600;
	}
}

/*
 * A 'page-view' is the main content area.
 */
.page-view {
	background-color: #fff;
	bottom: 0;
	position: absolute;
	left: 216px;
	right: 0;
	top: 0;
	z-index: 1;

	&.ng-enter,
	&.ng-leave {
		transition: all .5s ease-in-out;
	}

	&.ng-enter {
		transform: translate3d(100%, 0, 0);
	}

	&.ng-enter-active {
		transform: translate3d(0, 0, 0);
	}

	&.ng-leave {
		z-index: 0;
	}

	&.ng-leave-active {
		z-index: 0;
	}

	.page-view-inner {
		height: 100%;
		width: 100%;
	}

	.intro {
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
}