.part-11 .part-intro {
  background-position: center -6930px; }
.part-11 .punctuation {
  background-image: url("punctuation/assets/img/background-image.jpg");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 420px 630px; }
  .part-11 .punctuation .right {
    left: 360px;
    position: absolute;
    top: 60px;
    width: 390px; }
.part-11 .commas .top {
  background-color: #993733;
  height: 100px;
  padding: 48px 0 0 24px;
  width: 782px; }
.part-11 .commas .text {
  color: #fff;
  font-size: 36px;
  line-height: 32px; }
.part-11 .commas .comma {
  font-size: 52px; }
.part-11 .commas .columns {
  background: #f9bcbb;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9bcbb), color-stop(99%, #ffffff));
  background: -webkit-linear-gradient(top, #f9bcbb 0%, #ffffff 99%);
  background: linear-gradient(to bottom, #f9bcbb 0%, #ffffff 99%);
  height: 530px;
  padding: 20px 30px 0 30px; }
.part-11 .commas .column {
  float: left;
  padding: 8px;
  width: 180px; }
.part-11 .commas .number {
  font-size: 60px;
  font-weight: 300;
  line-height: 60px;
  margin-bottom: -4px; }
.part-11 .commas .intro {
  font-size: 20px;
  font-weight: 600;
  line-height: 20px; }
.part-11 .commas .for-example {
  font-family: 'Lora', serif;
  font-size: 14px;
  margin-bottom: 16px; }
.part-11 .commas .copy {
  font-size: 14px;
  margin-bottom: 16px; }
.part-11 .commas .instructions {
  bottom: 20px;
  left: 40px;
  position: absolute; }
.part-11 .to-separate-words-in-lists .learn-it-4 .popup {
  height: 460px;
  left: 20px;
  position: absolute;
  top: 50px;
  width: 670px; }
.part-11 .to-separate-words-in-lists .learn-it-4 .text-small {
  font-family: 'Lora', serif;
  padding: 32px 40px 0 40px; }
.part-11 .to-separate-words-in-lists .learn-it-4 .text-big {
  font-size: 28px;
  font-weight: 300;
  line-height: 36px;
  padding: 32px 40px 0 40px; }
.part-11 .to-separate-words-in-lists .learn-it-4 .semicolon {
  font-size: 36px;
  font-weight: 400;
  line-height: 36px; }
.part-11 .to-separate-words-in-lists .learn-it-5 .title {
  font-family: 'Lora', serif;
  font-size: 26px;
  margin-bottom: 16px; }
.part-11 .to-separate-words-in-lists .learn-it-5 .btn-tab {
  border-top: 2px solid rgba(255, 255, 255, 0.75);
  border-right: 2px solid rgba(0, 0, 0, 0.2);
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  border-left: 2px solid rgba(255, 255, 255, 0.75);
  height: 52px; }
  .part-11 .to-separate-words-in-lists .learn-it-5 .btn-tab:nth-of-type(1) {
    margin-right: 20px;
    width: 190px; }
  .part-11 .to-separate-words-in-lists .learn-it-5 .btn-tab:nth-of-type(2) {
    margin-right: 20px;
    width: 230px; }
  .part-11 .to-separate-words-in-lists .learn-it-5 .btn-tab:nth-of-type(3) {
    margin-right: 0;
    width: 190px; }
  .part-11 .to-separate-words-in-lists .learn-it-5 .btn-tab.active {
    background-color: #f9bcbb; }
.part-11 .to-separate-words-in-lists .learn-it-5 .text-punctuation {
  display: inline-block;
  font-size: 68px;
  font-weight: 400;
  margin-top: -40px;
  vertical-align: middle; }
.part-11 .to-separate-words-in-lists .learn-it-5 .text-big {
  font-size: 34px;
  font-weight: 600;
  vertical-align: middle; }
.part-11 .to-separate-words-in-lists .learn-it-5 .text-small {
  display: inline-block;
  font-family: 'Lora', serif;
  font-size: 16px;
  margin: 0 4px;
  vertical-align: middle; }
.part-11 .to-separate-words-in-lists .learn-it-5 .tab {
  font-size: 15px;
  left: 30px;
  line-height: 17px;
  opacity: 0;
  position: absolute;
  top: 200px;
  -webkit-transition: opacity 150ms;
          transition: opacity 150ms;
  width: 650px; }
  .part-11 .to-separate-words-in-lists .learn-it-5 .tab.active {
    opacity: 1;
    -webkit-transition: opacity 300ms;
            transition: opacity 300ms; }
.part-11 .to-separate-words-in-lists .learn-it-5 .text-serif {
  font-family: 'Lora', serif;
  margin-bottom: 16px; }
.part-11 .to-separate-words-in-lists .learn-it-5 .text-bold {
  font-weight: 700;
  margin-bottom: 16px; }
.part-11 .to-separate-words-in-lists .heading {
  font-size: 32px;
  line-height: 28px;
  padding: 24px 0 0 40px; }
.part-11 .to-separate-words-in-lists .light {
  font-weight: 300; }
.part-11 .to-separate-words-in-lists .bold {
  font-weight: 700; }
.part-11 .to-separate-words-in-lists .intro {
  font-family: 'Lora', serif;
  width: 320px; }
  .part-11 .to-separate-words-in-lists .intro span {
    display: block; }
.part-11 .to-separate-words-in-lists .column-left {
  float: left; }
.part-11 .to-separate-words-in-lists .column-right {
  float: right; }
.part-11 .to-separate-words-in-lists .big-italic {
  font-size: 30px;
  font-style: italic;
  line-height: 24px; }
  .part-11 .to-separate-words-in-lists .big-italic:nth-last-child(1) {
    padding-bottom: 40px;
    padding-top: 16px; }
.part-11 .to-separate-words-in-lists .small-normal {
  line-height: 16px;
  padding-top: 4px; }
.part-11 .to-separate-words-in-lists .interaction {
  clear: both;
  font-size: 20px;
  margin-bottom: 12px;
  position: relative; }
.part-11 .to-separate-words-in-lists .arrow {
  border-radius: 50%;
  cursor: pointer;
  height: 40px;
  left: 280px;
  position: absolute;
  top: 8px;
  width: 40px; }
.part-11 .to-separate-words-in-lists .icon-arrow {
  height: 40px;
  width: 28px; }
  .part-11 .to-separate-words-in-lists .icon-arrow.showing {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg); }
.part-11 .to-separate-words-in-lists .example {
  line-height: 25px; }
.part-11 .to-separate-words-in-lists .example-left {
  float: left;
  padding-right: 80px;
  width: 320px; }
.part-11 .to-separate-words-in-lists .example-right {
  float: right;
  opacity: 0;
  width: 320px; }
  .part-11 .to-separate-words-in-lists .example-right.showing {
    opacity: 1;
    -webkit-transition: opacity 1000ms;
            transition: opacity 1000ms; }
    .part-11 .to-separate-words-in-lists .example-right.showing .comma {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0); }
      .part-11 .to-separate-words-in-lists .example-right.showing .comma:nth-of-type(1) {
        -webkit-transition: all 1000ms 1000ms;
                transition: all 1000ms 1000ms; }
      .part-11 .to-separate-words-in-lists .example-right.showing .comma:nth-of-type(2) {
        -webkit-transition: all 1000ms 1500ms;
                transition: all 1000ms 1500ms; }
      .part-11 .to-separate-words-in-lists .example-right.showing .comma:nth-of-type(3) {
        -webkit-transition: all 1000ms 2000ms;
                transition: all 1000ms 2000ms; }
      .part-11 .to-separate-words-in-lists .example-right.showing .comma:nth-of-type(4) {
        -webkit-transition: all 1000ms 2500ms;
                transition: all 1000ms 2500ms; }
      .part-11 .to-separate-words-in-lists .example-right.showing .comma:nth-of-type(5) {
        -webkit-transition: all 1000ms 3000ms;
                transition: all 1000ms 3000ms; }
      .part-11 .to-separate-words-in-lists .example-right.showing .comma:nth-of-type(6) {
        -webkit-transition: all 1000ms 3500ms;
                transition: all 1000ms 3500ms; }
      .part-11 .to-separate-words-in-lists .example-right.showing .comma:nth-of-type(7) {
        -webkit-transition: all 1000ms 4000ms;
                transition: all 1000ms 4000ms; }
.part-11 .to-separate-words-in-lists .comma {
  display: inline-block;
  font-size: 36px;
  line-height: 25px;
  opacity: 0;
  -webkit-transform: translate3d(0, 6px, 0);
          transform: translate3d(0, 6px, 0);
  width: 12px; }
.part-11 .to-separate-words-in-lists .learn-it-1 .content,
.part-11 .to-separate-words-in-lists .learn-it-2 .content,
.part-11 .to-separate-words-in-lists .learn-it-3 .content,
.part-11 .to-separate-words-in-lists .learn-it-4 .content,
.part-11 .to-separate-words-in-lists .learn-it-5 .content {
  background-color: #efeadc;
  height: 530px;
  left: 40px;
  padding: 60px 24px 0 24px;
  position: absolute;
  top: 100px;
  width: 710px; }
.part-11 .to-separate-words-in-lists .learn-it-1 .the-pattern,
.part-11 .to-separate-words-in-lists .learn-it-2 .the-pattern,
.part-11 .to-separate-words-in-lists .learn-it-3 .the-pattern,
.part-11 .to-separate-words-in-lists .learn-it-4 .the-pattern,
.part-11 .to-separate-words-in-lists .learn-it-5 .the-pattern {
  background-color: #be1e2d;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  left: 0;
  letter-spacing: .5px;
  padding: 6px 10px 6px 8px;
  position: absolute;
  top: 0; }
.part-11 .to-separate-words-in-lists .learn-it-1 .btn-primary,
.part-11 .to-separate-words-in-lists .learn-it-2 .btn-primary,
.part-11 .to-separate-words-in-lists .learn-it-3 .btn-primary,
.part-11 .to-separate-words-in-lists .learn-it-4 .btn-primary,
.part-11 .to-separate-words-in-lists .learn-it-5 .btn-primary {
  bottom: 24px;
  margin: auto;
  left: 0;
  position: absolute;
  right: 0;
  width: 118px; }
.part-11 .nav-left {
  border-top-color: #993733; }
  .part-11 .nav-left .nav-heading {
    background-color: #993733; }
  .part-11 .nav-left .nav .active > a {
    background-color: #f69790; }
  .part-11 .nav-left .nav li a:hover {
    background-color: #f69790; }
  .part-11 .nav-left .sub-nav .active > a {
    background-color: #f9bcbb; }
  .part-11 .nav-left .sub-nav li a:hover {
    background-color: #f9bcbb; }
  .part-11 .nav-left .sub-nav .ol-style {
    padding: 2px 16px 2px 40px;
    position: relative; }
  .part-11 .nav-left .sub-nav .number {
    bottom: 0;
    font-size: 17px;
    height: 12px;
    line-height: 11px;
    margin: auto;
    position: absolute;
    top: 0; }
  .part-11 .nav-left .sub-nav .text {
    display: inline-block;
    font-size: 12px;
    line-height: 12px;
    padding-left: 16px;
    width: 180px; }
.part-11 .learn-try-nav {
  background-color: #f2716c; }
  .part-11 .learn-try-nav .tab {
    background-color: #f9bcbb; }
.part-11 .page-view {
  border-top-color: #993733; }
.part-11 .instructions {
  color: #993733; }
.part-11 .accordion-list .icon-triangle {
  fill: #f2716c; }

/*# sourceMappingURL=part-11.css.map */