@import '../shared/css/colors';

.part-1 {
	@import 'intro/intro.scss';
	@import 'rhetoric-and-a-process-for-composing/rhetoric-and-a-process-for-composing.scss';
	@import 'understanding-your-project-or-assignment/understanding-your-project-or-assignment.scss';
	@import 'what-is-composing/what-is-composing.scss';
	@import 'what-is-rhetoric/what-is-rhetoric.scss';
	@import 'what-will-you-learn/what-will-you-learn.scss';

	.nav-left {
		background-color: $part-1-darker;
		border-top-color: $part-1-darker;

		.nav-heading {
			background-color: $part-1-darker;
		}

		.nav {
			.active > a {
				background-color: $part-1-light;
			}

			li a:hover {
				background-color: $part-1-light;
			}
		}

		.sub-nav {
			.active > a {
				background-color: $part-1-lighter;
			}

			li a:hover {
				background-color: $part-1-lighter;
			}	
		}
	}

	.page-view {
		border-top-color: $part-1-darker;
	}
}