.part-1 .intro {
  background-position: center -630px; }
.part-1 .what-is-composing .supporting-text {
  bottom: 0;
  left: 420px;
  padding: 32px;
  position: absolute;
  right: 0;
  top: 0; }
.part-1 .what-is-composing .interaction {
  background-image: url("what-is-composing/assets/img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 382px;
  left: 34px;
  position: absolute;
  top: 50px;
  width: 380px; }
.part-1 .what-is-composing .button-popup-container-1 {
  left: 10px;
  position: absolute;
  top: 70px; }
.part-1 .what-is-composing .button-popup-container-2 {
  left: 268px;
  position: absolute;
  top: 230px; }
.part-1 .what-is-composing .button-popup-container-3 {
  left: 0;
  position: absolute;
  top: 304px; }
.part-1 .what-is-composing .popup {
  width: 400px; }
.part-1 .what-is-composing .button {
  background-color: #abc16c;
  box-shadow: 6px 6px 10px 0 rgba(0, 0, 0, 0.5);
  color: #fff;
  line-height: 28px;
  padding: 2px 6px 0 6px;
  position: relative;
  z-index: 0; }
  .part-1 .what-is-composing .button .number {
    font-size: 26px;
    font-weight: 700;
    margin-right: 4px; }
  .part-1 .what-is-composing .button .text {
    font-size: 24px;
    font-weight: 300; }
.part-1 .what-is-rhetoric {
  background-image: url("what-is-rhetoric/assets/img/background.jpg");
  background-size: cover; }
  .part-1 .what-is-rhetoric .bottom-left {
    bottom: 20px;
    position: absolute;
    right: 10px;
    width: 400px; }
.part-1 .rhetoric-and-a-process-for-composing .learn-it-1 {
  padding: 32px 22px; }
  .part-1 .rhetoric-and-a-process-for-composing .learn-it-1 .popup {
    padding: 14px 24px 24px 24px;
    width: 450px; }
  .part-1 .rhetoric-and-a-process-for-composing .learn-it-1 .content {
    width: 200px; }
  .part-1 .rhetoric-and-a-process-for-composing .learn-it-1 .interactive-area {
    left: 290px;
    position: absolute;
    right: 32px;
    top: 32px; }
  .part-1 .rhetoric-and-a-process-for-composing .learn-it-1 .interaction {
    background: -webkit-linear-gradient(left, #c7da7e 0%, #ffffff 100%);
    background: linear-gradient(to right, #c7da7e 0%, #ffffff 100%);
    box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.25);
    display: block;
    height: 52px;
    margin-bottom: 16px;
    position: relative;
    text-align: left;
    width: 100%;
    z-index: 0; }
    .part-1 .rhetoric-and-a-process-for-composing .learn-it-1 .interaction.active {
      z-index: 1; }
    .part-1 .rhetoric-and-a-process-for-composing .learn-it-1 .interaction .title {
      font-size: 16px;
      font-weight: 600;
      left: 16px;
      position: absolute;
      top: 16px;
      z-index: 1; }
    .part-1 .rhetoric-and-a-process-for-composing .learn-it-1 .interaction .content {
      left: -12px;
      position: absolute;
      top: -24px;
      z-index: 0; }
      .part-1 .rhetoric-and-a-process-for-composing .learn-it-1 .interaction .content p {
        padding: 12px 0 0 4px; }
  .part-1 .rhetoric-and-a-process-for-composing .learn-it-1 .img-overlay {
    height: 568px;
    left: 208px;
    pointer-events: none;
    position: absolute;
    top: 8px; }
.part-1 .rhetoric-and-a-process-for-composing .try-it-1 {
  height: 100%;
  width: 100%; }
  .part-1 .rhetoric-and-a-process-for-composing .try-it-1 .instructions-container {
    padding: 32px 0 0 22px;
    width: 260px; }
  .part-1 .rhetoric-and-a-process-for-composing .try-it-1 .draggable-items {
    left: 60px;
    position: absolute;
    top: 200px;
    z-index: 1; }
    .part-1 .rhetoric-and-a-process-for-composing .try-it-1 .draggable-items .drag-1 {
      left: 72px;
      top: 0; }
    .part-1 .rhetoric-and-a-process-for-composing .try-it-1 .draggable-items .drag-2 {
      left: 8px;
      top: 50px; }
    .part-1 .rhetoric-and-a-process-for-composing .try-it-1 .draggable-items .drag-3 {
      left: 60px;
      top: 100px; }
    .part-1 .rhetoric-and-a-process-for-composing .try-it-1 .draggable-items .drag-4 {
      left: 0px;
      top: 150px; }
    .part-1 .rhetoric-and-a-process-for-composing .try-it-1 .draggable-items .drag-5 {
      left: 100px;
      top: 200px; }
    .part-1 .rhetoric-and-a-process-for-composing .try-it-1 .draggable-items .drag-6 {
      left: 44px;
      top: 250px; }
    .part-1 .rhetoric-and-a-process-for-composing .try-it-1 .draggable-items .drag-7 {
      left: 124px;
      top: 300px; }
    .part-1 .rhetoric-and-a-process-for-composing .try-it-1 .draggable-items .drag-8 {
      left: 24px;
      top: 350px; }
  .part-1 .rhetoric-and-a-process-for-composing .try-it-1 .draggable {
    background-color: #abc16c;
    border: 1px solid #000;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
    cursor: move;
    font-weight: 600;
    height: 40px;
    padding: 8px 24px;
    position: absolute;
    width: 266px; }
  .part-1 .rhetoric-and-a-process-for-composing .try-it-1 .drop-zone {
    left: 430px;
    position: absolute;
    top: 80px;
    z-index: 0; }
  .part-1 .rhetoric-and-a-process-for-composing .try-it-1 .drop-list-background {
    left: 0;
    position: absolute;
    top: 0; }
  .part-1 .rhetoric-and-a-process-for-composing .try-it-1 .dotted-item {
    border: 2px dashed #000;
    height: 40px;
    margin-bottom: 8px;
    width: 266px; }
  .part-1 .rhetoric-and-a-process-for-composing .try-it-1 .drop-list {
    left: 0;
    position: absolute;
    top: 0; }
  .part-1 .rhetoric-and-a-process-for-composing .try-it-1 .btn-done {
    left: 160px;
    position: absolute;
    top: 390px; }
  .part-1 .rhetoric-and-a-process-for-composing .try-it-1 .popup {
    font-weight: 600;
    padding-top: 60px;
    position: absolute;
    right: 40px;
    top: 460px;
    z-index: 3; }
  .part-1 .rhetoric-and-a-process-for-composing .try-it-1 .btn-reset {
    right: 10px;
    position: absolute;
    top: 10px; }
.part-1 .understanding-your-project-or-assignment {
  background-image: url("understanding-your-project-or-assignment/assets/img/background-image.jpg");
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 450px 425px;
  padding: 54px 330px 0 24px; }
  .part-1 .understanding-your-project-or-assignment .list {
    font-weight: 600;
    margin-top: 8px;
    padding-left: 30px; }
    .part-1 .understanding-your-project-or-assignment .list li {
      list-style-type: circle;
      margin-bottom: 8px; }
.part-1 .understanding-a-class-assignment .learn-it-1 {
  height: 100%;
  padding: 40px;
  width: 100%; }
.part-1 .understanding-a-class-assignment .learn-it-2 {
  height: 100%;
  padding: 40px;
  width: 100%; }
.part-1 .understanding-a-class-assignment .learn-it-3 {
  height: 100%;
  padding: 40px;
  width: 100%; }
.part-1 .understanding-a-class-assignment .try-it-1 {
  height: 100%;
  padding: 40px;
  width: 100%; }
.part-1 .understanding-other-projects .learn-it-1 {
  background-image: url("understanding-your-project-or-assignment/understanding-other-projects/learn-it/1/assets/img/background-image.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 100%;
  padding: 64px 76px 40px 40px;
  width: 100%; }
.part-1 .understanding-other-projects .learn-it-2 {
  height: 100%;
  padding: 64px 76px 40px 40px;
  width: 100%; }
  .part-1 .understanding-other-projects .learn-it-2 .left {
    position: absolute;
    top: 100px;
    width: 158px; }
  .part-1 .understanding-other-projects .learn-it-2 .radio-label {
    display: block;
    margin: 20px 0; }
  .part-1 .understanding-other-projects .learn-it-2 .right {
    background-color: #f0f0f0;
    bottom: 0;
    padding: 40px 50px 40px 40px;
    position: absolute;
    right: 0;
    top: 100px;
    width: 530px; }
  .part-1 .understanding-other-projects .learn-it-2 .highlight-area {
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 1; }
  .part-1 .understanding-other-projects .learn-it-2 .highlight {
    background-color: rgba(0, 184, 240, 0.25);
    opacity: 0;
    -webkit-transition: all 300ms ease-out;
            transition: all 300ms ease-out;
    position: absolute; }
    .part-1 .understanding-other-projects .learn-it-2 .highlight.showing {
      opacity: 1;
      -webkit-transition: all 300ms ease-out;
              transition: all 300ms ease-out; }
  .part-1 .understanding-other-projects .learn-it-2 .purpose-highlight {
    height: 92px;
    left: 30px;
    right: 30px;
    top: 182px; }
  .part-1 .understanding-other-projects .learn-it-2 .audience-highlight-1 {
    height: 19px;
    right: 52px;
    top: 140px;
    width: 157px; }
  .part-1 .understanding-other-projects .learn-it-2 .audience-highlight-2 {
    height: 19px;
    left: 30px;
    top: 162px;
    width: 90px; }
  .part-1 .understanding-other-projects .learn-it-2 .body-copy-written {
    margin-bottom: 0;
    position: relative;
    z-index: 1; }
  .part-1 .understanding-other-projects .learn-it-2 .fixed-width {
    display: inline-block;
    width: 44px; }
  .part-1 .understanding-other-projects .learn-it-2 .popup {
    opacity: 0;
    -webkit-transform: scale(0.9, 0.9);
        -ms-transform: scale(0.9, 0.9);
            transform: scale(0.9, 0.9);
    -webkit-transition: all 300ms ease-out;
            transition: all 300ms ease-out;
    position: absolute; }
    .part-1 .understanding-other-projects .learn-it-2 .popup.showing {
      opacity: 1;
      -webkit-transform: scale(1, 1);
          -ms-transform: scale(1, 1);
              transform: scale(1, 1);
      -webkit-transition: all 300ms ease-out;
              transition: all 300ms ease-out; }
  .part-1 .understanding-other-projects .learn-it-2 .popup-1 {
    left: 80px;
    right: 22px;
    top: 314px; }
  .part-1 .understanding-other-projects .learn-it-2 .popup-2 {
    left: -54px;
    right: 10px;
    top: 220px; }
  .part-1 .understanding-other-projects .learn-it-2 .popup-3 {
    left: 170px;
    right: 20px;
    top: -80px; }
.part-1 .nav-left {
  background-color: #769b3e;
  border-top-color: #769b3e; }
  .part-1 .nav-left .nav-heading {
    background-color: #769b3e; }
  .part-1 .nav-left .nav .active > a {
    background-color: #c7da7e; }
  .part-1 .nav-left .nav li a:hover {
    background-color: #c7da7e; }
  .part-1 .nav-left .sub-nav .active > a {
    background-color: #e7ec99; }
  .part-1 .nav-left .sub-nav li a:hover {
    background-color: #e7ec99; }
.part-1 .learn-try-nav {
  background-color: #abc16c; }
  .part-1 .learn-try-nav .tab {
    background-color: #e7ec99; }
.part-1 .page-view {
  border-top-color: #769b3e; }
.part-1 .instructions {
  color: #769b3e; }

/*# sourceMappingURL=part-1.css.map */