<div class="part-1">
	<ul class="nav-left">
		<li ui-sref-active="active">
			<a ui-sref=".what-will-you-learn">What will you learn?</a>
		</li>
		<li ui-sref-active="active">
			<a ui-sref=".what-is-composing">What is composing?</a>
		</li>
		<li ui-sref-active="active">
			<a ui-sref=".what-is-rhetoric">What is rhetoric?</a>
			<ul class="sub-nav">
				<li ui-sref-active="active">
					<a ui-sref=".what-is-rhetoric/audience">Audience</a>
				</li>
				<li ui-sref-active="active">
					<a ui-sref=".what-is-rhetoric/purpose">Purpose</a>
				</li>
				<li ui-sref-active="active">
					<a ui-sref=".what-is-rhetoric/context">Context</a>
				</li>
				<li ui-sref-active="active">
					<a ui-sref=".what-is-rhetoric/strategies">Strategies</a>
				</li>
				<li ui-sref-active="active">
					<a ui-sref=".what-is-rhetoric/how-the-parts-work-together">How the parts work together</a>
				</li>
			</ul>
		</li>
		<li ui-sref-active="active">
			<a ui-sref=".rhetoric-and-a-process-for-composing">Rhetoric and a process for composing</a>
		</li>
		<li ui-sref-active="active">
			<a ui-sref=".understanding-your-project-or-assignment">Understanding your project or assignment</a>
		</li>
	</ul>

	<div class="page-view" ui-view></div>
<div>