.what-will-you-learn {
  background-image: url('/assets/part-1/what-will-you-learn/background.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center top;
}
