<div class="try-it-1">
	<div class="instructions-container">
		<p class="instructions">Drag the green labels into the grid, in the order we described in the “LearnIt” section.</p>
		<p class="instructions">Click “DONE” when you are satisfied with your response.</p>
	</div>

	<ul ui-sortable="sortableOptions" class="draggable-items item-container" ng-model="leftList">
		<li ng-repeat="item in leftList" ng-class="item.class" ng-bind="item.title"></li>
	</ul>

	<div class="drop-zone">
		<ul class="drop-list-background">
			<li class="dotted-item"></li>
			<li class="dotted-item"></li>
			<li class="dotted-item"></li>
			<li class="dotted-item"></li>
			<li class="dotted-item"></li>
			<li class="dotted-item"></li>
			<li class="dotted-item"></li>
			<li class="dotted-item"></li>
		</ul>
		<ul ui-sortable="sortableOptions" class="drop-list item-container" ng-model="drop">
			<li ng-repeat="item in drop" ng-class="item.class" ng-bind="item.title"></li>
		</ul>

		<button class="btn-primary btn-done">Done</button>
	</div>

<!-- 	<div class="popup">
		<button class="btn-primary btn-reset">Reset</button>
		No, you've not gotten the order we discuss in this bool.
		<br>
		Click "REST" to try again.
	</div>

	<div class="popup">
		<button class="btn-primary btn-reset">Reset</button>
		Yes, you've placed the parts of the composing process into the order we discuss in this book.
	</div> -->
</div>
