<div class="learn-it-3">
	<h1 class="page-heading">Understanding a class assignment:<br> writing about an assignment</h1>

	<div class="interactive-paper">
		<div class="left">
			<div class="body-copy">
				<p>Writing about an assignment can help you understand better what you need to do. Writing about an assignment can also help you find any questions you might have.</p>
				<p>The writing to the left is from a student, in response to the assignment from tab 2.</p>
			</div>
			<input id="radio-1" type="radio" name="group" class="radio" />
			<label for="radio-1" class="radio-label" tabindex="1" ng-click="radioState = 1">
				<div class="filled"></div>
				<div class="empty"></div>
				<div class="text">Purpose</div>
			</label>
			<input id="radio-2" type="radio" name="group" class="radio" />
			<label for="radio-2" class="radio-label" tabindex="2" ng-click="radioState = 2">
				<div class="filled"></div>
				<div class="empty"></div>
				<div class="text">Audience</div>
			</label>
			<input id="radio-3" type="radio" name="group" class="radio" />
			<label for="radio-3" class="radio-label" tabindex="3" ng-click="radioState = 3">
				<div class="filled"></div>
				<div class="empty"></div>
				<div class="text">Context</div>
			</label>
			<input id="radio-4" type="radio" name="group" class="radio" />
			<label for="radio-4" class="radio-label" tabindex="4" ng-click="radioState = 4">
				<div class="filled"></div>
				<div class="empty"></div>
				<div class="text">Questions</div>
			</label>
		</div>

		<div class="right">
			<div class="highlight-area">
				<div class="highlight purpose-highlight-1" ng-class="{'showing': radioState == 1}"></div>
				<div class="highlight purpose-highlight-2" ng-class="{'showing': radioState == 1}"></div>
				<div class="highlight audience-highlight-1" ng-class="{'showing': radioState == 2}"></div>
				<div class="highlight context-highlight-1" ng-class="{'showing': radioState == 3}"></div>
			</div>

			<div class="body-copy font-hand">
				<p>The assignment says I am to write an argumentative research paper on a topic of my choice, with the class as my audience. I’ve written research papers before, but I don’t know what “argumentative” means with a research paper. I’ve got to pay attention to how the teacher means “argument.” (And how can I start if I don’t know what it means? I think I need to go talk to her.)</p>
				<p>But “argument” sounds like the overall purpose for the teacher, to show that I know how to make research be an argument. (I’m also not sure what counts as evidence; I’ll have to ask.)</p>
				<p>And I don’t really know the people in class yet, but they seem to be just like everyone else I know on this campus, so I can ask my friends to help me think about this paper.</p>
				<p>The context? Well, it’s this writing class—so I guess that means I also have to be careful about how I write.</p>
				<p>A topic? Is there any way to write about how awful it is when everyone in my family talks about politics, like at dinner last night? Talk about argument!!! It’s awful—and Jenna was saying it’s just like that at her house.</p>
			</div>

			<div class="popups">
				<div class="popup purpose-popup-1" ng-class="{'showing': radioState == 1}">
					<p class="body-heading">Seeing purpose</p>
					<div class="body-copy">
						<p>To understand what a teacher hopes you learn, look for these terms:</p>
						<ul>
							<li><strong>summarize:</strong> to describe as concisely as possible the main points of writing</li>
							<li><strong>define:</strong> to explain a term or concept</li>
							<li><strong>inform:</strong> to tell others about an issue, with supporting examples and data</li>
							<li><strong>analyze:</strong> to break a process or object into its parts</li>
							<li><strong>persuade/argue:</strong> to present your opinions on a topic using evidence, so that others might come to agreement with you</li>
						</ul>
						<p style="text-indent: 0;">Look also for any objectives, like those below:</p>
					</div>
				</div>
				<div class="popup purpose-popup-2" ng-class="{'showing': radioState == 1}">
					<p class="note-heading">Note!</p>
					<div class="note-copy">
						<p>What you see here are <span class="uppercase">the teacher's purposes</span>, which differs from what <span class="uppercase">your paper's purpose</span> will be as you develop your paper. You’ll see this development as you move through the other parts of this book.</p>
					</div>
				</div>
				<div class="popup audience-popup-1" ng-class="{'showing': radioState == 2}">
					<p class="body-heading">Seeing audience</p>
					<div class="body-copy">
						<p>Look in the assignment for a description of an audience; if you do not see a description, ask.</p>
						<p>Note that, in an assignment, the audience description is often general; as you develop an assignment, you learn the thoughts, beliefs, feelings, and experiences that this general audience holds that matter to the specific purposes of <em>your</em> writing.</p>
					</div>
				</div>
				<div class="popup context-popup-1" ng-class="{'showing': radioState == 3}">
					<p class="body-heading">Seeing context</p>
					<div class="body-copy" style="margin-bottom: 8px;">
						<p>Look in the assignment for a description of context—but recognize that an audience description might imply an initial context, as in this assignment.</p>
					</div>
					<div class="body-copy">
						<p>This assignment initially places your work within your classroom and school, at this moment. Your further development of your purpose and audience will help you fine-tune the context.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>