@import '../shared/css/colors';

.you {
	.nav-left {
		border-top-color: $you-darker;

		.nav-heading {
			background-color: $you-darker;
		}

		.nav {
			.active > a {
				background-color: $you-light;
			}

			li a:hover {
				background-color: $you-light;
			}
		}

		.sub-nav {
			.active > a {
				background-color: $you-lighter;
			}

			li a:hover {
				background-color: $you-lighter;
			}
		}
	}

	.page-view {
		border-top-color: $you-darker; 
	}
}