.learn-it-4 {
	.popup {
		height: 460px;
		left: 20px;
		opacity: 0;
		position: absolute;
		top: 50px;
		transition: opacity 150ms;
		width: 670px;

		&.active {
			opacity: 1;
			transition: opacity 300ms;
		}
	}

	.text-small {
		font-family: 'Lora', serif;
		padding: 32px 40px 0 40px;
	}

	.text-big {
		font-size: 28px;
		font-weight: 300;
		line-height: 36px;
		padding: 32px 40px 0 40px;
	}

	.semicolon {
		font-size: 36px;
		font-weight: 400;
		line-height: 36px;
	}
}