<div class="try-it-1">
	<div class="left">
		<p class="body-heading">Understanding a class assignment:</p>
		<p class="uppercase" style="font-size: 24px; font-weight: 700; margin: -4px 0 16px 0;">Purpose</p>
		<p class="instructions">To the right is a class assignment.</p>
		<p class="instructions">Read the assignment&mdash;then slide the "PURPOSE" arrows to the paragraphs where the assignment's two purposes are described.</p>

		<button class="btn-primary" ng-click="getAnswer()">Done</button>
	</div>

	<ul ui-sortable="sortableOptions" class="track track-1 drop-0" ng-model="track1.drop0">
		<li ng-repeat="item in track1.drop0" ng-class="item.class" ng-bind="item.title"></li>
	</ul>

	<ul ui-sortable="sortableOptions" class="track track-1 drop-1" ng-model="track1.drop1">
		<li ng-repeat="item in track1.drop1" ng-class="item.class" ng-bind="item.title"></li>
	</ul>

	<ul ui-sortable="sortableOptions" class="track track-1 drop-2" ng-model="track1.drop2">
		<li ng-repeat="item in track1.drop2" ng-class="item.class" ng-bind="item.title"></li>
	</ul>

	<ul ui-sortable="sortableOptions" class="track track-1 drop-3" ng-model="track1.drop3">
		<li ng-repeat="item in track1.drop3" ng-class="item.class" ng-bind="item.title"></li>
	</ul>

	<ul ui-sortable="sortableOptions" class="track track-1 drop-4" ng-model="track1.drop4">
		<li ng-repeat="item in track1.drop4" ng-class="item.class" ng-bind="item.title"></li>
	</ul>

	<ul ui-sortable="sortableOptions" class="track track-1 drop-5" ng-model="track1.drop5">
		<li ng-repeat="item in track1.drop5" ng-class="item.class" ng-bind="item.title"></li>
	</ul>

	<ul ui-sortable="sortableOptions" class="track track-1 drop-6" ng-model="track1.drop6">
		<li ng-repeat="item in track1.drop6" ng-class="item.class" ng-bind="item.title"></li>
	</ul>

	<ul ui-sortable="sortableOptions" class="track track-1 drop-7" ng-model="track1.drop7">
		<li ng-repeat="item in track1.drop7" ng-class="item.class" ng-bind="item.title"></li>
	</ul>
 
	<div class="right">
		<header class="meta-copy font-times">
			<p>English 102 Writing for Academic Contexts</p>
			<p>Assignment 6</p>
			<p>Professor Lincoln</p>
		</header>
		<div class="body-copy font-times">
			<h1>Writting a summary</h1>
			<p>For next class, I’ve asked you to read the next chapter, titled “Polaroids,” from Anne Lamott’s book, Bird by Bird.</p>
			<p>In addition to reading the chapter, I also want you to write a 250-500 word summary of the chapter.</p>
			<p>Writing this summary will help you prepare to discuss the chapter in class by helping you focus on what you think is most important in the chapter.</p>
			<p>With this assignment, I want you to pay attention to how to summarize without bringing in your own opinions. In other words, I want you to learn to read generously, to pay attention to a writer’s ideas and to try to get a sense of the whole before you pull in your own personal responses.</p>
			<p>In class, when we discuss the chapter and what you all think Lamott is trying to achieve, you will have plenty of time to bring in your opinions.</p>
			<p>Write the summary for a reader like me, your teacher, who expects formal academic prose, and format your writing with an MLA header (as we’ve discussed in class).</p>
			<p>I will collect your summaries at the beginning of class.</p>
		</div>
	</div>
</div>