.try-it-1 {
	height: 100%;
	padding: 40px;
	width: 100%;

	.left {
		left: 0;
		padding: 40px;
		position: absolute;
		top: 40px;
		width: 300px;
	}

	.select {
		margin-bottom: 20px;
		width: 100%;
	}

	.btn-primary {
		display: block;
		margin-top: 4px;
	}

	.track {
		background-color: pink;
		border: 1px solid purple;
		position: absolute;
		width: 30px;
		z-index: 1;		
	}

	.track-1 {
		left: 360px;
	}

	.drop-0 {
		height: 80px;
		top: 26px;
		.draggable { top: 35px; }
	}

	.drop-1 {
		height: 64px;
		top: 106px;
	}

	.drop-2 {
		height: 42px;
		top: 170px;
	}

	.drop-3 {
		height: 62px;
		top: 212px;
	}

	.drop-4 {
		height: 128px;
		top: 274px;
	}

	.drop-5 {
		height: 62px;
		top: 402px;
	}

	.drop-6 {
		height: 84px;
		top: 464px;
	}

	.drop-7 {
		height: 82px;
		top: 548px;
	}

	.draggable {
		background-color: aqua;
		border-top-right-radius: 50%;
		border-bottom-right-radius: 50%;
		cursor: move;
		height: 20px;
		left: -40px;
		position: relative;
		top: 10px;
		width: 100px;
	}

	.right {
		background-color: #f0f0f0;
		bottom: 0;
		padding: 24px 32px;
		position: absolute;
		right: 0;
		top: 0;
		width: 360px;
	}
}