.try-it-1 {
	height: 100%;
	padding: 40px;
	width: 100%;

	.left {
		left: 0;
		padding: 40px;
		position: absolute;
		top: 40px;
		width: 300px;
	}

	.select {
		margin-bottom: 20px;
		width: 100%;
	}

	.btn-primary {
		display: block;
		margin-top: 4px;
	}

	.arrows {
		background-color: #e8e8e8;		
	}

	.arrows,
	.tracks {
		height: 100%;
		left: 350px;
		position: absolute;
		top: 0;
		width: 64px;
		z-index: 1;
	}

	.arrow {
		position: relative;
		top: 14px;
	}

	.track-1,
	.track-2 {
		border-right: 2px solid #fff;
		float: left;
		height: 100%;
		width: 16px;
	}

	.drop-area {
		position: absolute;
		width: 16px;	
	}

	.drop-area-0 {
		height: 80px;
		top: 26px;
		.arrow { top: 39px; }
		.draggable { top: 35px;}
	}

	.drop-area-1 {
		height: 64px;
		top: 106px;
	}

	.drop-area-2 {
		height: 42px;
		top: 170px;
	}

	.drop-area-3 {
		height: 62px;
		top: 212px;
	}

	.drop-area-4 {
		height: 128px;
		top: 274px;
	}

	.drop-area-5 {
		height: 62px;
		top: 402px;
	}

	.drop-area-6 {
		height: 84px;
		top: 464px;
	}

	.drop-area-7 {
		height: 82px;
		top: 548px;
	}

	.draggable {
		background-color: aqua;
		border-top-right-radius: 50%;
		border-bottom-right-radius: 50%;
		color: #fff;
		cursor: move;
		font-size: 14px;
		font-weight: 600;
		height: 20px;
		left: -40px;
		position: relative;
		text-transform: uppercase;
		top: 10px;
		width: 64px;
	}

	.right {
		background-color: #e8e8e8;
		bottom: 0;
		padding: 24px 32px;
		position: absolute;
		right: 0;
		top: 0;
		width: 360px;
	}
}