.learn-it-1 {
	background-image: url('understanding-your-project-or-assignment/understanding-other-projects/learn-it/1/assets/img/background-image.jpg');
	background-position: center top;
	background-repeat: no-repeat;
	background-size: 100% auto;
	height: 100%;
	padding: 64px 40px 40px 40px;
	width: 100%;
}