.what-is-rhetoric {
  background-image: url('/assets/part-1/what-is-rhetoric/background.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center top;
}
.what-is-rhetoric .audience {
  test: audience;
}
