.what-is-rhetoric {
	background-image: url('what-is-rhetoric/assets/img/background.jpg');
	background-size: cover;

	.bottom-left {
		bottom: 20px;
		position: absolute;
		right: 10px;
		width: 400px;
	}
}