.learn-it-2 {
	height: 100%;
	padding: 64px 76px 40px 40px;
	width: 100%;

	.left {
		position: absolute;
		top: 100px;
		width: 158px;
	}

	.radio-label {
		display: block;
		margin: 20px 0;
	}

	.right {
		background-color: #f0f0f0;
		bottom: 0;
		padding: 40px 50px 40px 40px ;
		position: absolute;
		right: 0;
		top: 100px;
		width: 530px;
	}

	.highlight-area {
		left: 0;
		position: absolute;
		width: 100%;
		z-index: 1;
	}

	.highlight {
		background-color: rgba($clickable-dark, .25);
		opacity: 0;
		transition: all 150ms;
		position: absolute;

		&.showing {
			opacity: 1;
			transition: all 150ms;
		}
	}

	.purpose-highlight {
		height: 92px;
		left: 30px;
		right: 30px;
		top: 182px;
	}

	.audience-highlight-1 {
		height: 19px;
		right: 52px;
		top: 140px;
		width: 157px;
	}

	.audience-highlight-2 {
		height: 19px;
		left: 30px;
		top: 162px;
		width: 90px;
	}

	.body-copy-written {
		margin-bottom: 0;
		position: relative;
		z-index: 1;
	}

	.fixed-width {
		display: inline-block;
		width: 44px;
	}

	.popup {
		opacity: 0;
		transition: all 150ms;
		position: absolute;

		&.showing {
			opacity: 1;
			transition: all 150ms;
		}
	}

	.popup-1 {
		left: 80px;
		right: 22px;
		top: 314px;
	}

	.popup-2 {
		left: -54px;
		right: 10px;
		top: 220px;
	}

	.popup-3 {
		left: 170px;
		right: 20px;
		top: -80px;
	}
}