.learn-it-2 {
	height: 100%;
	padding: 64px 76px 40px 40px;
	width: 100%;

	.purpose-highlight {
		height: 92px;
		left: 30px;
		right: 30px;
		top: 182px;
	}

	.audience-highlight-1 {
		height: 19px;
		right: 52px;
		top: 140px;
		width: 157px;
	}

	.audience-highlight-2 {
		height: 19px;
		left: 30px;
		top: 162px;
		width: 90px;
	}

	.fixed-width {
		display: inline-block;
		width: 44px;
	}

	.popup-1 {
		left: 80px;
		right: 22px;
		top: 314px;
	}

	.popup-2 {
		left: -54px;
		right: 10px;
		top: 220px;
	}

	.popup-3 {
		left: 170px;
		right: 20px;
		top: -80px;
	}
}