@import '../shared/css/colors';

.part-2 {
	@import 'intro/intro.scss';
	
	.nav-left {
		border-top-color: $part-2-darker;

		.nav-heading {
			background-color: $part-2-darker;
		}

		.nav {
			.active > a {
				background-color: $part-2-light;
			}

			li a:hover {
				background-color: $part-2-light;
			}
		}

		.sub-nav {
			.active > a {
				background-color: $part-2-lighter;
			}

			li a:hover {
				background-color: $part-2-lighter;
			}	
		}
	}

	.page-view {
		border-top-color: $part-2-darker;
	}
}