/* Start of access theme */
 .acorn-player.access {
    float: left;
    position: relative;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
/* <video> element */
 .acorn-player.access video {
    float: left;
    clear: both;
    background-color: #000;
}
/* Player Controls */
 .acorn-player.access .acorn-controls {
    position: relative;
    float: left;
    clear: both;
	min-width: 320px; 
	width: 100%;
    height: 45px;
    padding-top: 2px;
    background-image: url(../images/controlsDarkOrange.png);
    background-position: bottom left;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: transparent;
}
/* <button>s */
 .acorn-player.access button {
    position: relative;
    margin: 1px;
    padding-left: 20px;
    height: 26px;
    margin-top: 16px;
    border: 1px solid rgba(17, 17, 17, 0);
    background-color: rgba(17, 17, 17, 0);
    background-position: 5px center, top left;
    background-repeat: no-repeat, repeat-x;
    font-weight: bold;
    color: #fff;
    text-shadow: 0px -1px 1px #000;
    cursor: pointer;
}
.acorn-player.access button:hover, .acorn-player.access button:focus {
    outline: none;
    background-position: 5px center, left -43px;
}
.acorn-player.access button:active {
    /* top: 1px;
    box-shadow: inset 1px 1px 10px #000; */
}
.acorn-player.access .acorn-increase-button {
    float: left;
    display: block;
    /* width: 85px; */
    background-image: url(../images/plus.png);
}
.acorn-player.access .acorn-increase-button:hover, .acorn-player.access .acorn-increase-button:focus {
    float: left;
    display: block;
    /* width: 85px; */
    background-image: url(../images/plusOrange.png);
}
.acorn-player.access .acorn-decrease-button {
    float: left;
    display: block;
    /* width: 85px; */
    background-image: url(../images/minus.png);
}
.acorn-player.access .acorn-decrease-button:hover, .acorn-player.access .acorn-decrease-button:focus {
    float: left;
    display: block;
    /* width: 85px; */
    background-image: url(../images/minusOrange.png);
}
/* Playback Controls(Play, Pause) */
 .acorn-player.access .acorn-play-button {
    float: left;
    display: block;
    /* width: 85px; */
    background-image: url(../images/play.png);
}
.acorn-player.access .acorn-play-button:hover, .acorn-player.access .acorn-play-button:focus {
    float: left;
    display: block;
    /* width: 85px; */
    background-image: url(../images/playOrange.png);
}
/* Forward/Backward Controls */
 .acorn-player.access .acorn-backward-button {
    float: left;
    display: block;
    /* width: 90px; */
    background-image: url(../images/backwardLight.png);
}
.acorn-player.access .acorn-backward-button:hover, .acorn-player.access .acorn-backward-button:focus {
    float: left;
    display: block;
    /* width: 90px; */
    background-image: url(../images/backwardOrange.png);
}
.acorn-player.access .acorn-forward-button {
    float: left;
    display: block;
    /* width: 90px; */
    background-image: url(../images/forwardLight.png);
}
.acorn-player.access .acorn-forward-button:hover, .acorn-player.access .acorn-forward-button:focus {
    float: left;
    display: block;
    /* width: 90px; */
    background-image: url(../images/forwardOrange.png);
}
.acorn-player.access .acorn-paused-button {
    background-image: url(../images/pause.png);
}
.acorn-player.access .acorn-paused-button:hover, .acorn-player.access .acorn-paused-button:focus {
    background-image: url(../images/pauseOrange.png);
}
/* Seek Slider */
 .acorn-player.access .acorn-seek-slider {
    height: 6px;
    margin-top: -2px;
    border: 3px solid black;
    cursor: pointer;
    background: rgb(65, 65, 65);
    outline: none;
}
.acorn-player.access .acorn-seek-slider .ui-slider-handle {
    width: 10px;
    height: 10px;
    margin-left: -3px;
    border-radius: 10px;
    top: -2px;
    -webkit-border-radius: 10px;
    -webkit-box-shadow: 0px 2px 8px #000;
    background: rgb(255, 255, 255);
}
.acorn-player.access .acorn-seek-slider .ui-slider-range {
    background: #fdb913;
}
.acorn-player.access .acorn-buffer {
    background: rgba(0, 0, 0, 0.5) !important;
}
.acorn-player.access .acorn-seek-slider .ui-slider-handle.ui-state-hover {
    background: #FFFFFF !important;
    -moz-box-shadow: 0px 2px 15px #000;
    -webkit-box-shadow: 0px 2px 15px #000;
    box-shadow: 0px 2px 15px #000;
}
/* Volume Container */
 .acorn-player.access .acorn-volume-box {
    float: left;
    width: 43%;
    overflow: hidden;
    /* padding-left: 13px; */
    -webkit-box-shadow: 2px 0px 5px rgba(17, 17, 17, 0);
    box-shadow: 2px 0px 5px rgba(37, 37, 37, 0);
}
/* Volume Button */
 .acorn-player.access .acorn-volume-button {
    float: left;
    /* width: 90px; */
    border-left: none;
    background-image: url(../images/volumeFull.png);
    -moz-box-shadow: 2px 0px 5px rgba(17, 17, 17, 0);
    -webkit-box-shadow: 2px 0px 5px rgba(17, 17, 17, 0);
    box-shadow: 2px 0px 5px rgba(17, 17, 17, 0);
}
.acorn-player.access .acorn-volume-button:hover, .acorn-player.access .acorn-volume-button:focus {
    float: left;
    /* width: 90px; */
    border-left: none;
    background-image: url(../images/volumefullOrange.png);
    -moz-box-shadow: 2px 0px 5px rgba(17, 17, 17, 0);
    -webkit-box-shadow: 2px 0px 5px rgba(17, 17, 17, 0);
    box-shadow: 2px 0px 5px rgba(17, 17, 17, 0);
}
.acorn-player.access .acorn-volume-mute {
    background-image: url(../images/volume.png);
}
.acorn-player.access .acorn-volume-mute:hover, .acorn-player.access .acorn-volume-mute:focus {
    background-image: url(../images/volumeOrange.png);
}
/* Volume Slider */
 .acorn-player.access .acorn-volume-slider {
    float: left;
    height: 10px;
    width: 50px;
    cursor: pointer;
    margin-top: 25px;
    margin-left: -2px;
    background: rgba(17, 17, 17, 0);
    z-index: 20;
    -webkit-box-shadow: 0px 1px 1px rgba(119, 119, 119, 0);
    box-shadow: 0px 1px 1px rgba(119, 119, 119, 0);
    outline: none;
}
.acorn-player.access .acorn-volume-slider .ui-slider-handle {
    width: 0px;
    height: 0px;
    margin-top: 10px;
    margin-left: -5px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid rgb(255, 255, 255);
    cursor: pointer;
}
.acorn-player.access .acorn-volume-slider .ui-slider-handle.ui-state-hover {
    /* background: #FFFFFF !important; */
}
.acorn-player.access .acorn-volume-slider .ui-slider-range {
    /* background: #636F7C; */
    z-index:-1;
}
/* Caption Button */
 .acorn-player.access .acorn-caption-button {
    float: left;
    display: block;
    /* width: 90px; */
    background-image: url(../images/captions.png);
}
.acorn-player.access .acorn-caption-button:hover, .acorn-player.access .acorn-caption-button:focus {
    float: left;
    display: block;
    /* width: 90px; */
    background-image: url(../images/captionsOrange.png);
}
.acorn-player.access .acorn-caption {
    font-size: 1em;
    font-weight: bold;
    color: white;
}
/* Transcript */
 .acorn-player.access .acorn-caption-active, .acorn-player.access .acorn-transcript-active {
    background-position: 5px center, left bottom;
}
/* 
 * acesslight Child Theme
 */
 .acorn-player.access.accesslight .acorn-controls {
    background-image: url(../images/controlsLight.png);
}
/* <button>s */
 .acorn-player.access.accesslight button {
    border: 1px solid #bdbdbd;
    color: #333;
    text-shadow: 0px 1px 0px #fff;
}
/* Playback Controls(Play, Pause,Replay) */
 .acorn-player.access.accesslight .acorn-play-button {
    background-image: url(../images/playDark.png);
}
.acorn-player.access.accesslight .acorn-backward-button {
    background-image: url(../images/backwardDark.png);
}
.acorn-player.access.accesslight .acorn-forward-button {
    background-image: url(../images/forwardDark.png);
}
.acorn-player.access.accesslight .acorn-paused-button {
    background-image: url(../images/pauseDark.png);
}
/* Volume Button */
 .acorn-player.access.accesslight .acorn-volume-button {
    background-image: url(../images/volumeFullDark.png);
    -moz-box-shadow: 2px 0px 5px #8c8c8c;
    -webkit-box-shadow: 2px 0px 5px #8c8c8c;
    box-shadow: 2px 0px 5px #8c8c8c;
}
.acorn-player.access.accesslight .acorn-volume-mute {
    background-image: url(../images/volumeDark.png);
}
/* Shortcuts Buttton */
 .acorn-player.access.accesslight .acorn-shortcut-button {
    background-image: url(../images/shortcutsDark.png);
    -moz-box-shadow: -2px 0px 5px #8c8c8c;
    -webkit-box-shadow: -2px 0px 5px #8c8c8c;
    box-shadow: -2px 0px 5px #8c8c8c;
}
/* Caption Buttton */
 .acorn-player.access.accesslight .acorn-caption-button {
    background-image: url(../images/captionsDark.png);
}
/* Transcript */
 .acorn-player.access.accesslight .acorn-transcript-button {
    background-image: url(../images/transcriptDark.png);
    -moz-box-shadow: -2px 0px 5px #8c8c8c;
    -webkit-box-shadow: -2px 0px 5px #8c8c8c;
    box-shadow: -2px 0px 5px #8c8c8c;
}
.acorn-player.access.accesslight .acorn-caption-active, .acorn-player.access.accesslight .acorn-transcript-active {
    color: #000;
    text-shadow: none;
}
/* Volume Container */
 .acorn-player.access.accesslight .acorn-volume-box {
    -moz-box-shadow: 2px 0px 5px #8c8c8c;
    -webkit-box-shadow: 2px 0px 5px #8c8c8c;
    box-shadow: 2px 0px 5px #8c8c8c;
}
/* Volume Slider */
 .acorn-player.access.accesslight .acorn-volume-slider {
    border: 1px solid #333;
    background: #c1c1c1;
    -moz-box-shadow: 0px 1px 1px #fff;
    -webkit-box-shadow: 0px 1px 1px #fff;
    box-shadow: 0px 1px 1px #fff;
}
img.acorn-imgButtons:hover, img.acorn-imgButtons:focus {
    outline:none;
    opacity: 1.0;
}
.control-buttons {
    float: right;
    width: 56%;
    overflow: hidden;
    -webkit-box-shadow: 2px 0px 5px rgba(17, 17, 17, 0);
    box-shadow: 2px 0px 5px rgba(37, 37, 37, 0);
}