.popup {
  background-color: #fff;
  border: 1px solid #000;
  box-shadow: 3px 3px 12px 0 rgba(0, 0, 0, .333);
  font-size: 14px;
  padding: 16px;
  position: relative;
  z-index: 1;

  .button-close-popup {
    background-color: #000;
    border-radius: 100%;
    display: block;
    height: 20px;
    margin-bottom: 16px;
    padding: 4px;
    position: relative;
    width: 20px;
  }

  .icon-x {
    fill: #fff;
    height: 12px;
    left: 4px;
    position: absolute;
    top: 4px;
    width: 12px;
  }

  .body-copy {
      margin-bottom: 0;
  }

  ul {
    padding-left: 16px;

    li {
      margin-bottom: 4px;
    }
  }
}
