@import '../shared/css/colors';

.academic-english {	
	.nav-left {
		background-color: $academic-english-darker;
		border-top-color: $academic-english-darker;

		.nav-heading {
			background-color: $academic-english-darker;
		}

		.nav {
			.active > a {
				background-color: $academic-english-light;
			}

			li a:hover {
				background-color: $academic-english-light;
			}
		}

		.sub-nav {
			.active > a {
				background-color: $academic-english-lighter;
			}

			li a:hover {
				background-color: $academic-english-lighter;
			}	
		}
	}

	.page-view {
		border-top-color: $academic-english-darker;
	}
}